.team-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.team-calendar__title {
  color: #fff;
  margin: 0;
  font-size: 30px;
}

.team-calendar__info {
  display: flex;
  align-self: flex-start;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.team-calendar__image {
  width: 150px;
  object-fit: contain;
  margin-right: 25px;
}

.team-calendar__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
  box-sizing: border-box;
  width: 350px;
}

.team-calendar__team-name {
  color: #fff;
  margin: 0 0 10px;
  font-size: 24px;
}

.team-calendar__team-country-name {
  color: rgba(248, 237, 201, 0.8);
  margin: 0;
}

.team-calendar__link {
  width: 90px;
  text-decoration: none;
  color: #b6bcbf;
  align-self: flex-start;
  margin-top: 10px;
  transition: color 0.2s linear, text-decoration 0.2s linear;
}

.team-calendar__link:hover {
  color: #fff;
  text-decoration: underline;
}

/**********************************************************/

@media screen and (max-width: 900px) {
  .team-calendar__info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .team-calendar__image {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .team-calendar__description {
    align-items: center;
    width: 300px;
  }

  .team-calendar__competition-name {
    font-size: 18px;
  }

  .team-calendar__competition-country-name {
    font-size: 14px;
  }

  .team-calendar__season-select {
    font-size: 14px;
  }

  .team-calendar__month-select {
    font-size: 14px;
  }

  .team-calendar__link {
    width: 150px;
    text-align: center;
    align-self: center;
    font-size: 14px;
  }

  .team-calendar__competition-country-name {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .team-calendar__title {
    font-size: 18px;
  }
  .team-calendar__season-select {
    font-size: 12px;
  }

  .team-calendar__month-select {
    font-size: 12px;
  }
  .team-calendar__link {
    font-size: 10px;
  }
}
