.form {
  color: #b6bcbf;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-calendar__form {
  width: 300px;
  margin: 0 20px 0 0;
}

.form__title {
  font-size: 18px;
  margin: 0;
}

.form__field {
  margin: 0 0 20px;
  width: 290px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form__label {
  font-size: 16px;
}

.form__input {
  width: 200px;
}
.form__input-error {
  position: absolute;
  left: 70px;
  bottom: -22px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  height: 2em;
  color: #ff0000;
}

.form__submit-button {
  width: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .form {
    align-items: center;
    margin: 0;
  }

  .form__title {
    margin: 0 0 10px;
    font-size: 14px;
  }

  .form__label {
    font-size: 14px;
  }

  .form__input {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .form__title {
    margin: 0 0 10px;
    font-size: 12px;
  }

  .form__field {
    margin: 0 0 15px;
    width: 220px;
    height: 30px;
  }

  .form__label {
    font-size: 12px;
  }

  .form__input {
    font-size: 12px;
    width: 150px;
  }

  .form__submit-button {
    width: 80px;
    margin: 0 auto;
    font-size: 10px;
    padding: 0;
  }

  .form__input-error {
    left: 53px;
    bottom: -16px;
    font-size: 8px;
    line-height: 10px;
  }
}
