.competition-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.competition-calendar__title {
  color: #fff;
  margin: 0;
  font-size: 30px;
}

.competition-calendar__info {
  display: flex;
  align-self: flex-start;
  width: 100%;
  padding: 40px 0 40px 40px;
  box-sizing: border-box;
}

.competition-calendar__image {
  width: 150px;
  object-fit: contain;
  object-position: top;
  margin-right: 25px;
  margin-top: 10px;
  color: #fff;
}

.competition-calendar__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
  box-sizing: border-box;
  width: 500px;
}

.competition-calendar__competition-name {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.competition-calendar__competition-country-name {
  color: rgba(248, 237, 201, 0.8);
  margin: 0 0 10px;
}

.competition-calendar__season {
  color: #fff;
}

.competition-calendar__month {
  color: #fff;
}

.competition-calendar__link {
  text-decoration: none;
  color: #b6bcbf;
  align-self: flex-start;
  margin-top: 10px;
  transition: color 0.2s linear, text-decoration 0.2s linear;
}

.competition-calendar__link:hover {
  color: #fff;
  text-decoration: underline;
}

.matchday-table {
  color: #fff;
}

.matchday-table-head__cell {
  padding: 5px 0;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.matchday-table-head__cell_size_50 {
  width: 50px;
}

.matchday-table-head__cell_size_60 {
  width: 60px;
}

.matchday-table-head__cell_size_90 {
  width: 90px;
}

.matchday-table-head__cell_size_100 {
  width: 100px;
}

.matchday-table-head__cell_size_135 {
  width: 135px;
}

.matchday-table-head__cell_size_220 {
  width: 50px;
}

.competition-calendar__season-select {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
}

.competition-calendar__season-select-input {
  width: 150px;
}

.competition-calendar__month-select {
  width: 210px;
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.competition-calendar__month-select-input {
  width: 150px;
}

.form {
  width: 300px;
  color: #b6bcbf;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.competition-calendar_form {
}

.form__title {
  font-size: 18px;
  margin: 0;
}

.form__field {
  margin: 0 0 20px;
  width: 290px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form__label {
  font-size: 16px;
}

.form__input {
  width: 200px;
}
.form__input-error {
  position: absolute;
  left: 70px;
  bottom: -22px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  height: 2em;
  color: #ff0000;
}

.form__submit-button {
  width: 150px;
  margin: 0 auto;
}
