.team-calendar-table__stroke {
}

.team-calendar-table__cell {
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  margin: 5px;
}

.stroke__date {
  display: inline-block;
  text-align: center;
}
