.competitions {
  width: 100%;
  margin: 0;
  padding: 60px 40px 60px 60px;
  box-sizing: border-box;
}

.leagues-list {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.competitions__elements {
}
